<?xml version="1.0" encoding="UTF-8"?>
<!-- LICENSE_PLACEHOLDER -->
<configuration>

	<include resource="fr/cnes/regards/framework/logbackappender/defaults.xml" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
	
</configuration>