######################
# SASS
######################
.sass-cache/**

######################
# Eclipse
######################
.project
.metadata
.classpath
.settings/

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Maven
######################
target/

######################
# Windows
######################
# Windows image file caches
Thumbs.db

######################
# Logs
######################
*.log
