######################
# NPM
######################
**/package-lock.json
**/yarn.lock

######################
# SASS
######################
.sass-cache/**

######################
# Eclipse
######################
.project
.metadata
.classpath
.settings/

######################
# Intellij
######################
**/.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Visual Studio code
######################
*.code-workspace
**/.vscode/**
**/.history/**

######################
# Maven
######################
target/

######################
# Windows
######################
# Windows image file caches
Thumbs.db

######################
# Logs
######################
*.log
