@keyframes shake {
  40% {
    /* no animation up to 40% */
    transform: translate3d(0, 0, 0);
  }
  42%, 58% {
  /* 10%, 90% */
    transform: translate3d(-2px, 0, 0);
  }
  44%, 56% {
  /* 20%, 80% */
    transform: translate3d(4px, 0, 0);
  }
  46%, 50%, 54% {
  /* 30%, 50%, 70% */
    transform: translate3d(-8px, 0, 0);
  }
  48%, 52% {
    /* 40%, 60% */
    transform: translate3d(8px, 0, 0);
  }
  60% {
    /* no animation after 60% */
    transform: translate3d(0, 0, 0);
  }
}