{
  "presets": [
    "react",
    "stage-3"
  ],
  "plugins": [
    "transform-class-properties",
    "add-module-exports",
    "syntax-dynamic-import"
  ],
  "env": {
    "coverage": { // coverage environment transforms
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ],
      "plugins": [
        "istanbul"
      ]
    }, 
    "development": { // development environment transforms
      "presets": [
        ["env", {
          "targets": {
            "node": "current",
            "browsers": "last 1 chrome version"
          }
        }]
      ]
    },
    "production": { // production environment transforms
      "presets": [
        ["env", {
          "targets": {
            "node": "4",
            "browsers": "last 2 versions"
          }
        }]
      ]
    },
    "test": { // test environment transforms
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}