{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb"],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "es6": true,
    "commonjs": true
  },
  "rules": {
    "semi": ["error", "never"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/prefer-es6-class": 0,
    "react/require-extension": 0,
    "react/prefer-stateless-function": 1,
    "no-console": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "global-require": 0,
    "max-len": 0,
    // ignore unused variable on functions arguments
    "no-unused-vars": ["error", { "args": "none" }],
    // enable all jsdoc rules
    "jsdoc/check-param-names": 1,
    "jsdoc/check-tag-names": 1,
    "jsdoc/check-types": 1,
    "jsdoc/newline-after-description": 1,
    "jsdoc/require-description-complete-sentence": 0,
    "jsdoc/require-hyphen-before-param-description": 1,
    "jsdoc/require-param": 1,
    "jsdoc/require-param-description": 1,
    "jsdoc/require-param-type": 1,
    "jsdoc/require-returns-description": 1,
    "jsdoc/require-returns-type": 1
  },
  "plugins": [
    "react",
    "jsdoc"
  ],
  "globals": {
    "React": true,
    "GATEWAY_HOSTNAME": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
