{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "es6": true,
    "commonjs": true
  },
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/prefer-es6-class": 0,
    "react/require-extension": 0,
    "react/require-default-props": 0,
    "react/prefer-stateless-function": 0,
    "no-console": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "global-require": 0,
    "max-len": 0,
    // ignore unused variable on functions arguments
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    // Allow annonymous functions
    "func-names": 0,
    "no-confusing-arrow": "off"
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "React": true,
    "PropTypes": true,
    "GATEWAY_HOSTNAME": true,
    "STATIC_CONFIGURATION": true,
    "API_URL": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
