{
  "lines": 5,
  "statements": 5,
  "functions": 5,
  "branches": 5,
  "require": [
    "babel-core/register",
    "source-map-support/register"
  ],
  "extension": [
    ".jsx",
    ".js"
  ],
  "reporter": [
    "lcov",
    "html"
  ],
  "sourceMap": false,
  "instrument": false,
  "report-dir": "./reports/coverage"
}
