.Resizer {
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer .horizontal {
  height: 13px;
  margin: -6px 0;
  border-left: 6px solid #FFFFFF00;
  border-right: 6px solid #FFFFFF00;
  cursor: row-resize;
  width: 100%;
}

.Resizer .vertical {
  width: 13px;
  margin: 0 -6px;
  border-left: 6px solid #FFFFFF00;
  border-right: 6px solid #FFFFFF00;
  cursor: col-resize;
}

.Resizer .disabled {
cursor: not-allowed;
}
