{
  "presets": [
    "react",
    "stage-3"
  ],
  "plugins": [
    "transform-class-properties",
    "add-module-exports",
    "syntax-dynamic-import"
  ],
  "env": {
    "coverage": { // coverage environment transforms
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [
        "istanbul"
      ]
    },
    "development": {
      "plugins": [
        // Remove code splitting
        "remove-webpack"
      ],
      // development environment transforms
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current",
              "browsers": "last 1 chrome version"
            }
          }
        ]
      ]
    },
    "production": { // production environment transforms
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "chrome >= 50",
                "firefox >= 45"
              ]
            }
          }
        ]
      ]
    },
    "test": { // test environment transforms
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}