{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
      "rootMode": "upward",
      "babelrcRoots": [
        ".",
        "./webapp/*"
      ]
    }
  },
  "extends": [
    "@regardsoss/eslint-config-es6-rules"
  ],
  "globals": {
    "GATEWAY_HOSTNAME": true,
    "STATIC_CONF": true,
    "API_URL": true
  }
}
